{% include 'header.twig' %}
<h2>{{ translations.faq }}</h2>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">What is this?</h3>
    <p>This is a fan-made website for <a href="https://travian.com" target="_blank">Travian Legends</a>, a browser real-time strategy game. It contains tools and calculators to help all players.</p>
</div>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">Why build a yet another website?</h3>
    <p>With skills and time avaible at the moment, it didn't seem like a bad plan. Additionally there didn't seem to be any way to contribute to existing websites.</p>
</div>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">How can I contribute?</h3>
    <p>This site is developed and translated using github. Any ideas, improvements and corrections are welcome there. <a target="_blank" href="https://github.com/idrinth/travian.idrinth.de">to the repository</a></p>
</div>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">I found an error, what can I do?</h3>
    <p>Please report it via <a target="_blank" href="https://github.com/idrinth/travian.idrinth.de/issues">Github Issues</a> or <a target="_blank" href="https://discord.gg/WH7RWw7FqP">Discord</a>, so it can be fixed quickly.</p>
</div>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">My language is missing, what can I do?</h3>
    <p>Either find someone to translate the site for you and hand it in, or translate it yourself. The translation files go to the <a href="https://github.com/Idrinth/travian.idrinth.de/tree/master/translations" target="_blank">Github-Repository</a>.</p>
</div>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">How is this financed?</h3>
    <p>As a fansite, this is not a commercial project, so financing is out of my own pocket. If you feel like helping out, you can do this via <a href="https://paypal.me/idrinth" target="_blank">PayPal</a>.</p>
</div>
<div class="result">
    <h3 onclick="this.parentNode.classList.toggle('hidden');">How are the activity scores calculated?</h3>
    <ul>
        <li>15 Points for a real attack</li>
        <li>1 Point per troop Tool Update(max 1 per day)</li>
        <li>1 Point for reacting to a deff-call with any troops</li>
        <li>0.5 Point per hero tracking update(max 1 per day and hero)</li>
        <li>0.5 Point per fake attack</li>
        <li>0.2 points per hero sent in deff_call</li>
        <li>0.002 points per sscout sent in deff-call</li>
        <li>0.001 points per troop sent in deff-call</li>
        <li>0.0001 points per grain sent on deff-call</li>
        <li>0.0001 points per resource sent on resource-push</li>
    </ul>
</div>
{% include 'footer.twig' %}