            </div>
        </article>
        <footer>
            <p>{{ translations.travian_footer }}</p>
            <p><a href="/imprint">{{ translations.imprint }}</a></p>
            <p>{{ translations.help }} <a href="https://github.com/idrinth/travian.idrinth.de" target="_blank">Github</a></p>
        </footer>
        <script type="text/javascript" src="/scripts.js"></script>
        <audio id="countdown-audio"><source src="/mixkit-classic-alarm-995.wav" type="audio/wav"></audio>
    </body>
</html>