            </div>
        </article>
        <footer>
            {{ translations.travian_footer }}
            <a href="/imprint">{{ translations.imprint }}</a>
        </footer>
    </body>
</html>