html, body {
    width: 100%;
    height: 100%;
    background: #ddd;
    color: #333;
    margin: 0;
    padding:0;
}
textarea, input, select {
    background: #eee;
    display:block;
    width: 100%;
    box-sizing: border-box;
}
input[type=submit] {
    background: red;
    color: #fff;
}
label {
    display: block;
}
a, a:visited, a:hover, a:focus, a:active {
    color: red;
}
a.invisible {
    text-decoration: none;
}
.error {
    color: red;
    font-weight: bold;
}
body > * {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
body > div > .page {
    margin: 0 5%;
    width: 90%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
body > #header,
body > footer {
    background: #333;
    color: #ddd;
    text-align: center;
}
#header {
    display: flex;
}
#header > * {
    flex: auto;
    background: #333;
    color: #eee;
    display: inline;
    vertical-align: middle;
}
body > iframe {
    max-width: 100%;
}
nav {
    display: block;
}
nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    flex: auto;
    text-align: center;
}
.result {
    background: #d0d0d0;
    border-radius: 1em;
    box-shadow: 3px 3px 5px #000;
    margin: 5px;
}
.result.hidden > table {
    display: none;
}
h3 {
    text-align: center;
}
.result > h3 {
    cursor: pointer;
}
.late {
    background: red;
}
.split2 {
   display: flex; 
}
.split2 > table {
    flex: auto;
}