html, body {
    width: 100%;
    min-height: 100%;
    background: #ddd;
    color: #333;
    margin: 0;
    padding:0;
}
textarea, input, select {
    background: #eee;
    color: #333;
    display:block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.1em;
}
input[type=submit] {
    background: red;
    color: #eee;
}
label {
    display: block;
}
a, a:visited, a:hover, a:focus, a:active {
    color: red;
}
a.invisible {
    text-decoration: none;
}
.error {
    color: red;
    font-weight: bold;
}
body > * {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
body > div > .page {
    margin: 0 5%;
    width: 90%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
body > #header,
body > footer {
    background: #333;
    color: #ddd;
    text-align: center;
}
#header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    border-radius: 1em 1em 0 0;
    margin-top: 1em;
}
footer {
    border-radius: 0 0 1em 1em;
    margin-bottom: 1em;
}
#header > * {
    color: #ddd;
    display: inline;
    vertical-align: middle;
}
#header > select {
    color: #ddd;
    background: #333;
}
body > iframe {
    max-width: 100%;
}
nav {
    display: block;
}
nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    flex: auto;
    text-align: center;
}
.result {
    background: #d0d0d0;
    border-radius: 1em;
    box-shadow: 3px 3px 5px #000;
    margin: 5px;
}
.result.hidden > table {
    display: none;
}
h2 {
    margin: 0;
    text-align: center;
    padding: 1em;
}
h3 {
    margin: 0;
    text-align: center;
    padding: 0.75em;
}
h4 {
    margin: 0;
    text-align: center;
    padding: 0.5em;
}
p {
    margin: 0;
    padding: 0.5em;
}
.result > h3 {
    cursor: pointer;
}
.late {
    background: red;
    color: #eee;
}
.split2 {
    display: flex;
}
.split2 > table {
    flex: auto;
}
table {
    width: 100%;
}
table tr:nth-of-type(2n) {
    background-color: rgba(0,0,0,0.05);
    &.late {
        background: darkred;
        color: #eee;
    }
}
select {
    text-align: center;
}
input[type=number] {
    text-align: right;
}
.page {
    background: rgba(0,0,0,0.05);
}
body {
    padding-top: 1em;
    padding-bottom: 1em;
    box-sizing: border-box;
}
#header, footer {
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0), rgba(0,0,0,0.2));
}
nav {
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0), rgba(0,0,0,0.2));
}
nav li:hover {
    background-color: rgba(255,0,0,0.5);
    border-radius: 1em;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0), rgba(0,0,0,0.2));
}
nav li:hover a {
    color: #eee;
}
label {
    padding-bottom: 0.25em;
}
#header > div {
    padding-top: 1.5em;
}
legend {
    font-style: italic;
}
body.dark  {
    background: #333;
    color: #eee;
    textarea, input, select {
        color: #eee;
        background: #333;
    }    
}
.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.collapsed-table {
    tr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width:900px) {
    nav > ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    body {
        padding-top: 0.9em;
        padding-bottom: 0.9em;
    }
    .collapsed-table {
        tr {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        tr:first-of-type{
          display: none;
        }
        tr > th {
          grid-row-start: 1;
          grid-row-end: 3;
        }
    }
}
@media screen and (max-width:800px) {
    nav > ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    body {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}
@media screen and (max-width:700px) {
    nav > ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    body {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
}
@media screen and (max-width:600px) {
    #header > .invisible {
        display:none;
    }
    nav > ul {
        grid-template-columns: 1fr 1fr;
    }
    body {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
    .collapsed-table {
        tr {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        tr > th {
          grid-row-start: 1;
          grid-row-end: 4;
        }
    }
}
@media screen and (max-width:500px) {
    nav > ul {
        grid-template-columns: 1fr;
    }
    #header {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #header > h1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #header > div {
        padding-top: 0;
    }
    body {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    input[type=number] {
        text-align: left;
    }
}
@media screen and (max-width:400px) {
    body {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }
    .collapsed-table {
        tr {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        tr:first-of-type{
          display: none;
        }
        tr > th {
          grid-row-start: 1;
          grid-row-end: 5;
        }
    }
}